@charset "UTF-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  background: #fff;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #6C6C6C; }

ol, ul {
  list-style: disc outside; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {color: red; }

a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}
button {-webkit-appearance: none;border-radius: 0;}
strong {
  font-weight: bold; }

/* ----------------- CSS Styles ----------------- */
.container {width: 1024px;margin: 0 auto; }
.overflow {overflow: hidden;}
.left {float: left;}
.right {float: right;}
.center {text-align: center;}

/* ----------------- header ----------------- */
.headerWrapper {background: #414042; padding: 25px 0;}
.logo {text-align: left;}
.logo img {width: 180px; height: auto;}

.headerCopyWrapper {text-align: center; padding: 95px 0 50px;}
h1.headline {color: #63666A; font-size: 47px; line-height: 50px; font-weight: bold; margin-bottom: 15px;}
h2.subhead {color: #63666A; font-size: 19px; line-height: 25px; width: 600px; margin: 0 auto;}

.yellowBtn a {background: #f1b300; font-size: 16px; line-height: 22px; font-weight: 600; display: inline-block; color: #ffffff; text-decoration: none; padding: 18px 70px 18px 35px; border-radius: 5px; background-image: url("https://go.broadly.com/l/710993/2019-05-15/6hx7/710993/12598/poolCleaners_yellowBtnArrow.png"); background-position: 85% center; background-repeat: no-repeat;}


/* --------------- 1024px --------------- */
@media only screen and (max-width: 1024px) {
	.container {width: 100% !important; }
	.row {padding: 0 20px !important; }
	.left {width: 100% !important; float: none !important;}
	.right {width: 100% !important; float: none !important;}
	.clearfloats {clear: both !important;}
}
/* --------------- 768px --------------- */
@media only screen and (max-width: 768px) {
  h2.subhead {width: 100%;}
	}
/* --------------- 480px --------------- */
@media only screen and (max-width: 480px) {
	}
	
